


.main-frame{
    padding:0px;
    border:4px solid #ddd;
    margin-top:1%;
    margin-left: auto;
    margin-right: auto;
    float: none;
    width:270px;
    background: #fff;
}

body{background: #EFEFEF}


.font_awsome{
    margin-right: 5px;
}
